h3{
    background-color: navy;
    color: aliceblue;
    text-align: center;
  }

h4{
    text-align: left;
    border: black;
  }

* {
    box-sizing: border-box;
  }

.column {
    float: left;
    width: 30%;
    padding: 10px;
    height: 200px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

h2 {
    background-color: navy;
    text-align: center;
    color: aliceblue;
  }

h3{
    background-color: black;
    text-align: center;
    color: aliceblue;
  }